@import url('https://fonts.googleapis.com/css?family=Cabin|Leckerli One&display=swap');

body {
	margin: 0 auto; /* Remove any white space around the page */
	background-color: ghostwhite;
	font-family: "Cabin", sans-serif;
}

h1 {
	color: #aa2400;
	font-family: "Leckerli One", serif;
	font-size: 3.125em;
}
h2 {
	font-size: 1.8em;
}
h5 {
	font-style: italic;
}
h2, h4 {
	color: #bc7133;
}

#main-image {
	float: left;
	width: 40%;
	height: 100vh; /* Full vertical length */
	object-fit: cover; /* Crop the image without distortion */
	object-position: left;
}

#main-container {
	height: 100vh; /* Full vertical length */
	overflow-y: scroll; /* Scroll if content too long */
}

header {
	text-align: center;
}
header img { /* logo */
	padding: 15px;
	width: 40vh;
}

nav {
	padding: 20px;
	background-color: ghostwhite;
	text-align: center;
	position: -webkit-sticky; /* Safari */
	position: sticky; /* Stick the nav */
	top: 0; /* to the top */
	z-index: 1; /* Keep it on top layer */
}
nav a { /* Style nav buttons */
	position: relative;
	display: inline-flex;
	margin-top: 5px;
	text-decoration: none;
	font-size: 1.8em;
	padding: 1vh 2vh; /* size vs viewport */
	border-style: solid;
	border-width: 2px;
	color: #aa2400;
}
nav a:hover {
	background-color: #bc7133;
	border-color: #bc7133;
	color: ghostwhite;
}

.content {
	margin: 25px auto;
	padding: 10px 25px;
	width: 65%;
	text-align: center;
	/*border-style: dotted;
	border-width: 5px;
	border-color: red;
	background-color: red;*/
}


/* index.html */

#business-container {
	margin: 50px;
	background-color: #aa2400;
}

#hours-container {
	float: left;
	/*text-align: center;*/
	width: 50%;
}
#hours-container p {
	/*margin: 0;*/
	/*padding: 10px;*/
	background-color: rgba(170,36,0, 0.75);
	/*color: ghostwhite;*/
	/*font-size: 1.3em;*/
}

#contact-info {
	float: left;
	width: 50%;
	/*text-align: center;*/
}

.address-container {
	text-align: center;
	padding-top: 20px;
}

.exterior-container img { 
	margin-bottom: 10px;
	max-width: 100%; /* Make the image responsive */
	object-fit: cover; /* Crop image without distortion */
	object-position: 0 30%;
	height: 200px;
	width: 600px;
}

.map-container iframe {
	max-width: 100%; /* Make the google maps responsive */
}


/* menu.html */

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

#specialties li {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	width: 30%;
	text-align: left;
	vertical-align: top;
}
#specialties li img {
	object-fit: cover; /* Crop image without distortion */
	object-position: center;
	height: 200px;
	width: 200px;
}
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.panel ul, #specialties ul {
	list-style-type: none;
	padding: 10px;
	text-align: left;
}
#specialties ul {
	text-align: center;
}
.panel li {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	width: 300px;
	text-align: left;
	vertical-align: top;
}
.panel li img {
	object-fit: cover; /* Crop image without distortion */
	object-position: center;
	height: 300px;
	width: 300px;
}
.panel li p, #specialties li p {
	text-transform: lowercase;
}


/* about.html */

#team-cards {
	text-align: center;
}
#team-cards div {
	display: inline-block;
	margin: 25px 15px;
	vertical-align: top;
	width: 200px;
}
#team-cards img {
	border-radius: 100%;
	object-fit: cover; /* Crop image without distortion */
	object-position: center;
	height: 150px;
	width: 150px;
	filter: grayscale(100%);
}

#team-cards img:hover {
	filter: grayscale(0%);
}